# Obsidian
.obsidian/ 

# 機密情報
.03-Permanent-Notes/acounts.md
.env
env.local
*.env
client_id.json
service_account.json
token.json
Agents/daily_report/modules/token_calendar.json

# トークンキャッシュ
.token_cache.bin
token_cache.bin
.token_cache_onedrive.bin
token_cache_onedrive.bin
Agents/medifax/.cache/
Agents/daily_report/modules/teams_token_cache.bin

onedrive_delta_link.txt

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.venv/
venv/

# ログファイル
logs/
*.log

# macOS
.DS_Store
80-総務/芦名宏明さん_事前紹介.md

# 指定フォルダ
01-Fleeting-Notes/
80-*/
99-*/
Clippings/
